
{{#contentFor 'title'}}
  - Properties
{{/contentFor}}

{{#contentFor 'head'}}
  <link href="styles/land.css" type="text/css" rel="stylesheet">
{{/contentFor}}

{{#contentFor 'tail'}}
  <script type="application/javascript" src="scripts/land.js"></script>
  <script type="application/javascript" src="scripts/slideshow.js"></script>
  <script type="application/javascript" src="scripts/echo.min.js"></script>
{{/contentFor}}


<div class="section full-page">

  <h1>Properties</h1>

  <div class="vc-content">
    <p class="center">Browse our selection of properties for sale below.  For any questions or further inquiries, please email lindasland@gmail.com or call (903) 236 0636</p>

    <hr class="lg-margin">

    {{#each properties}}
      <h3>{{name}}</h3>
      <div class="row">
        <div class="col image">

          <div class="slideshow" id="prop-slideshow-{{id}}">
            <div class="modal-backdrop">
              <div class="slideshow-body">
                <div class="image-container">
                  {{#each images}}
                    {{#if @first}}
                      <img class="slide active" src="resources/images/blank.gif" data-echo="{{this}}">
                    {{else}}
                      <img class="slide" src="resources/images/blank.gif" data-echo="{{this}}">
                    {{/if}}

                  {{/each}}
                </div>

                <div class="slideshow-button prev">< <</div>
                <div class="slideshow-button next">> ></div>
                <div class="close-icon">X</div>
                <div class="slide-counter">/</div>
              </div>

              <div class="label has-fullscreen">View Full-Screen</div>
            </div>
          </div>

        </div>
        <div class="col text-blurb">
          <span class="subtitle">Section: </span>{{section}}<br/>
          <span class="subtitle">Type: </span>{{type}}<br/>
          <span class="subtitle">County: </span>{{county}}<br/>
          <span class="subtitle">Acreage: </span>{{acreage}}<br/>
          <span class="subtitle">Price: </span>{{price}}<br/>
          <span class="subtitle">Description: </span>
          <p>{{{description}}}</p>

          <div class="view-description">
            <div class="extra-data" id="prop-description-{{id}}">
              {{#if improvements}}
                <span class="subtitle">Improvements: </span>
                  <p>{{{improvements}}}</p>
              {{/if}}
              {{#if wildlife}}
                <span class="subtitle">Wildlife: </span>
                  <p>{{wildlife}}</p>
              {{/if}}
              {{#if water}}
                <span class="subtitle">Water: </span>
                  <p>{{water}}</p>
              {{/if}}
              {{#if directions}}
                <span class="subtitle">Directions: </span>
                  <p>{{{directions}}}</p>
              {{/if}}
            </div>
            <div class="label fake-link">
              <span class="subtitle fake-link" data-active="false" onclick="toggleDescription('prop-description-{{id}}', this)">View More Information</span>
            </div>
          </div>
        </div>
      </div>

      <div class="view-map">
        <div class="label fake-link">
          <span class="subtitle fake-link" data-active="false" onclick="toggleMap('{{id}}', this)">View Map</span>
        </div>
        <div class="map" id="prop-map-{{id}}">
          <iframe
                  id="map-frame-{{id}}"
                  frameborder="0"
                  data-src="https://www.google.com/maps/embed/v1/place?key={{mapsKey}}
                  &q={{mapsQuery}}
                  &zoom={{zoom}}"
                  allowfullscreen>
          </iframe>
        </div>
      </div>
      <hr class="med-margin">
    {{/each}}


  </div>

</div>
