
{{#contentFor 'title'}}
  - Properties
{{/contentFor}}

{{#contentFor 'tail'}}
  <link href="styles/land.css" type="text/css" rel="stylesheet">

  <script type="application/javascript" src="scripts/land.js"></script>
  <script type="application/javascript" src="scripts/slideshow.js"></script>
  <script type="application/javascript" src="scripts/echo.min.js"></script>
{{/contentFor}}


<div class="section full-page">

  <h1>Properties</h1>

  <div class="vc-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempor dapibus justo, imperdiet accumsan dui tincidunt et. Curabitur cursus, sapien at ullamcorper semper, sem lorem condimentum quam, malesuada vestibulum arcu tellus volutpat augue. Sed vel arcu luctus nisi semper consequat id in enim. Aenean vestibulum ultricies sem eu mattis. Vestibulum cursus, justo fermentum tristique malesuada, massa diam blandit massa, eu tristique nisl sem sit amet turpis. Mauris sagittis consectetur velit eget ullamcorper. Aliquam erat volutpat. Sed mattis facilisis enim quis vehicula. Cras sollicitudin, enim in faucibus elementum, est risus luctus leo, sed consequat arcu metus a metus. Nullam suscipit, elit dapibus tempus volutpat, dolor sem porta urna.</p>

    <h2>East Texas</h2>

    <hr class="lg-margin">

    {{#each properties}}
      <h3>{{name}}</h3>
      <div class="row">
        <div class="col image">

          <div class="slideshow" id="prop-slideshow-{{id}}">
            <div class="modal-backdrop">
              <div class="slideshow-body">
                <div class="image-container">
                  {{#each images}}
                    {{#if @first}}
                      <img class="slide active" src="resources/images/blank.gif" data-echo="{{this}}">
                    {{else}}
                      <img class="slide" src="resources/images/blank.gif" data-echo="{{this}}">
                    {{/if}}

                  {{/each}}
                </div>

                <div class="slideshow-button prev">< <</div>
                <div class="slideshow-button next">> ></div>
                <div class="close-icon">X</div>
              </div>

              <div class="label has-fullscreen">View Full-Screen</div>
            </div>
          </div>

        </div>
        <div class="col text-blurb">
          <span class="subtitle">Section: </span>{{section}}<br/>
          <span class="subtitle">Type: </span>{{type}}<br/>
          <span class="subtitle">County: </span>{{county}}<br/>
          <span class="subtitle">Acreage: </span>{{acreage}}<br/>
          <span class="subtitle">Price: </span>{{price}}<br/>
          <span class="subtitle">Description: </span>
          <p>{{{description}}}</p>

          <div class="view-description">
            <div class="extra-data" id="prop-description-{{id}}">
              <span class="subtitle">Improvements: </span>
                <p>{{{improvements}}}</p>
              <span class="subtitle">Wildlife: </span>
                <p>{{wildlife}}</p>
              <span class="subtitle">Water: </span>
                <p>{{water}}</p>
              <span class="subtitle">Directions: </span>
                <p>{{{directions}}}</p>
            </div>
            <div class="label fake-link">
              <span class="subtitle fake-link" data-active="false" onclick="toggleDescription('prop-description-{{id}}', this)">View More Information</span>
            </div>
          </div>
        </div>
      </div>

      <div class="view-map">
        <div class="label fake-link">
          <span class="subtitle fake-link" data-active="false" onclick="toggleMap('{{id}}', this)">View Map</span>
        </div>
        <div class="map" id="prop-map-{{id}}">
          <iframe
                  id="map-frame-{{id}}"
                  frameborder="0"
                  data-src="https://www.google.com/maps/embed/v1/place?key={{mapsKey}}
                  &q={{mapsQuery}}
                  &zoom=10"
                  allowfullscreen>
          </iframe>
        </div>
      </div>
      <hr class="med-margin">
    {{/each}}


  </div>

</div>
