{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title and (header.title != 'Home') %} {{ header.title|e('html') }} | {%endif %} {{ site.title|e('html') }} </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% do assets.addCss('theme://css/custom.css', 98) %}
    {% do assets.addCss('https://fonts.googleapis.com/css?family=Raleway:100,400') %}
    {% do assets.addCss('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700,900') %}

    {% block stylesheets %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascriptHead %}
        {% do assets.addJs('theme://js/general.js') %}
        {% do assets.addJs('theme://js/helpers.js') %}
        {% do assets.addJs('theme://js/modernizr-custom.js') %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="body" class="{{ page.header.body_classes }}">

<div class="popup" id="menu-popup">

    <div class="popup-content">
        <img class="menu-item logo" src="{{ url('theme://images/logo-teal.svg') }}">
        <div class="menu-item"><a href="{{ base_url }}/">HOME</a></div>
        <div class="menu-item"><a href="{{ base_url }}/about">ABOUT US</a></div>
        <div class="menu-item"><a href="{{ base_url }}/land">LAND</a></div>
        <div class="menu-item">
            <img src="{{ url('theme://images/texas.svg') }}" class="awkward-icon">
        </div>
    </div>
</div>

<div class="body-container" id="body-container">

    <!-- HEADER -->
    <div class="header" id="header-nav">
        <div class="hamburger-icon" id="hamburger-icon-body">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="menu-item awkward-icon" id="header-icon">
            <img src="{{ url('theme://images/texas-white.svg') }}">
        </div>
        <div class="menu-item"><a href="{{ base_url }}/about">ABOUT</a></div>

        <a href="{{ base_url }}/"><img class="menu-item logo" src="{{ url('theme://images/logo-white.svg') }}"></a>
        <div class="menu-item"><a href="{{ base_url }}/land">LAND</a></div>
    </div>


    <!-- BODY CONTENT -->
    {% block body %}
        {% block content %}{% endblock %}
    {% endblock %}


    <!-- FOOTER -->
    <div class="footer">
        <div class="footer-spacer"></div>

        <div class="footer-body">
            <img class="logo" src="{{ url('theme://images/logo-teal.svg') }}">

            <br>
            <img class="awkward-icon" src="{{ url('theme://images/texas.svg') }}">
            <hr>
            <div class="menu-item">Email: <span class="teal"><a href="mailto:lindasland@gmail.com">lindasland@gmail.com</a></span></div>
            <div class="menu-item">Phone: <span class="teal">(903) 236 0636</span></div>
            <div class="menu-item">Fax: <span class="teal">(903) 234 0222</span></div>
            <hr>
            <a href="https://www.facebook.com/lindastexasland/" target="_blank">
                <div class="social-icon" id="fb">
                    <img src="{{ url('theme://images/fb-teal.svg') }}">
                </div>
            </a>

        </div>
        <div class="footer-banner">
            <div class="content"><a href="http://chrisloewer.com" target="_blank">&copy; Chris Loewer 2016</a></div>
        </div>
    </div>


</div>

{% block javascriptTail %}

{% endblock %}
{{ assets.js() }}

</body>
</html>
